<header id="header">
    <div class="left">
        <a><img class="nav-img" src="assets/images/logo_horizontal.png" alt="GATEWAY"></a>
    </div>
    <div class="show-on-xs-only hide-on-sm-and-up right hamburger"><i class="fa fa-mob fa-bars"></i></div>
    <nav id="nav">
        <ul class="right menu-responsive menu-horizontal">
            
            <li class="menu-item">
                <a class="menu-link" href="/profile">Student View</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/programs">Reports</a>
                
            </li>
            <li class="menu-item"><a class="menu-link" href="/logout" ng-click="logout()">Logout</a></li>

                    
        </ul>
    </nav>
</header>
