<% include partials/head %>
    <% include partials/nav %>
    <ng-view></ng-view>
<% include partials/scripts %>

<!-- <div class="ui container">
    <div class="ui grid">
        <div class="eight wide column">
            <div class="ui header">Hello
            </div>
            <div class="ui basic segment">
                <table class="ui celled table">
                    <tbody>
                    	<tr>
                            <td>User ID</td>
                            <td><%= user._id ? user._id : '' %></td>
                        </tr>
                        <tr>
                            <td>First Name:</td>
                            <td><%= user.local.firstname ? user.local.firstname : '' %></td>
                        </tr>
                        <tr>
                            <td>Last Name:</td>
                            <td> <%= user.local.lastname ? user.local.lastname : '' %></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><a href="mailto:info@support.com"> <%= user.local.email ? user.local.email : '' %></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>-->