<script type="text/javascript">
$('.ui.form').form({
    fields: {
        email: {
            identifier: 'email',
            rules: [{
                type: 'email',
                prompt: 'Please enter a valid email address.'
            }]
        },
        password: {
            identifier: 'password',
            rules: [{
                type: 'empty',
                prompt: 'Please enter a password.'
            }, {
                type: 'minLength[6]',
                prompt: 'Please enter a valid password.'
            }]
        }
    }
});
</script>

<div class="ui middle aligned centered grid">
        <div class="ten wide column">
            <h2 class="ui center aligned">Log-in to your account</h2>
            <div class="ui raised segment padded">
                <form class="ui form" action="/login" method="post">
                    <div class="field">
                        <label>Email</label>
                        <input type="text" name="email" placeholder="email">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="password">
                    </div>
                    <button class="ui button centered" type="submit" value="Submit">Submit</button>
                </form>
            </div>
            <div class="ui message center aligned">
                New to us? <a href="/signup">Sign Up</a>
            </div>
        </div>
    </div>
    <script src="assets/main.js"></script>