<div class="ui stackable menu">
    <a class="item" href="#/"><img src="assets/images/logo_horizontal.png"></a>

    <div class="ui dropdown item">
        Find Resources
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" href="/programs">Resource Programs</a>
            <div class="item">Peer Mentors</div>
            <div class="item">Student Groups</div>
        </div>
    </div>
    <div class="ui dropdown item">
        My Account
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" href="/profile">My Profile</a>
            <div class="item">Scheduled Appointments</div>
            <div class="item">Messages</div>
        </div>
    </div>
    <a class="item" ng-click="logout()">Logout</a>
</div>

