
<!--
<div class="ui container">
    <div class="ui grid">
        <div class="eight wide column">
            <div class="ui header">
            </div>
            <div class="ui basic segment">
                <table class="ui celled table">
                    <tbody>
                        <tr>
                            <td>Name:</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                        </tr>
                        <tr>
                            <td>Date of Birth:</td>
                        </tr>
                        <tr>
                            <td>Graduation:</td>
                        </tr>
                        <tr>
                            <td>Major:</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
-->
<div class="col-xs-12 col-sm-6">
    <div class="row end-sm center-xs middle-xs">
        <select class="ui dropdown clear-school" ng-model="schoolFilter"><i class="dropdown icon"></i>
            <option class="item" value="" selected>Select School</option>
            <option value="Weinberg College of Arts and Sciences">Weinberg</option>
            <option value="McCormick School of Engineering and Applied Science">McCormick</option>
        </select>
        <div class="margin-left ui button clear-school">Clear</div>
    </div>
</div>