<div class="ui container">
    <div class="ui grid">
        <div class="eight wide column">
            <div class="ui header">
            </div>
            <div class="ui basic segment">
                <table class="ui celled table">
                    <tbody>
                        <tr>
                            <td>Name:</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                        </tr>
                        <tr>
                            <td>Date of Birth:</td>
                        </tr>
                        <tr>
                            <td>Graduation:</td>
                        </tr>
                        <tr>
                            <td>Major:</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
-->
<div class="container-fluid padding-top-bottom extra-padding-sides">
    <div class="row">
        <div class="col-xs-6 col-sm-4" id="program-col" ng-repeat="program in ranked_programs | filter: search | filter: schoolFilter| orderBy:'-rank'" emit-last-repeater-element>
            <div class="ui card">
                <div class="content">
                    <a class="header" target="_blank" href="http://www.google.com" ng-click="trackInfo(program)">{{program.program}}</a>
                    <div class="meta">
                        <span class="group" ng-repeat="s in program.school">{{s}}{{$last ? '' : ','}}</span>
                    </div>
                    <div class="description">
                        <span ng-repeat="sub in program.subjects">
                        {{sub}}{{$last ? '' : ', '}}
                        </span>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author">
                        <div class="ui showmodal button" data-target="#dialogTestDialog{{$index}}">More info <i class="fa fa-angle-right"></i></div>
                    </div>
                </div>
                <div class="ui modal" id="dialogTestDialog{{$index}}">
                <i class="close icon"></i>
                <div class="header">
                    {{program.program}}
                </div>
                <div class="image content">

                    <div class="description">
                        Description of the program
                        <!-- <div ng-repeat="for (day, time) in program.times">{{day}}: {{time}}{{$last ? '' : ','}}</div> -->
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>
