<script>
(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>

<br>
<div style="margin-left:5%; margin-right:5%;">
                Select by major: <select class="ui dropdown clear-school" id="majorName" onchange="reDraw()"><i class="dropdown icon"></i>
              <option value="All Majors" selected="selected">All Majors</option>
          <option value="computer science (bs)">computer science (bs)</option>
          <option value="African American Studies">African American Studies</option>
                </select><br><br>

Start Date: <input type="date" id="startDate" value="2017-05-01" onchange="reDraw2()">
End Date: <input type="date" id="endDate" value="2017-05-20">
</div>

<div id="embed-api-auth-container" style="margin-left:5%; margin-right:5%;"></div>
<div id="chart-container" style="margin-left:5%; margin-right:5%;"></div>
<div id="view-selector-container" style="margin-left:5%; margin-right:5%;"></div>

<div id="chart-container-2" style="margin-left:5%; margin-right:5%;"></div>
<div id="view-selector-container-2" style="margin-left:5%; margin-right:5%;"></div>

<script>

var dataChart;
var currentMajor="";

gapi.analytics.ready(function() {

  currentMajor=document.getElementById("majorName").options[document.getElementById("majorName").selectedIndex].text;

  /**
   * Authorize the user immediately if the user has already granted access.
   * If no access has been created, render an authorize button inside the
   * element with the ID "embed-api-auth-container".
   */
  gapi.analytics.auth.authorize({
    container: 'embed-api-auth-container',
    clientid: '608029080727-pus9sscp6qp2mqp2jv5rdapk4prtssmo.apps.googleusercontent.com'
  });

  /**
   * Create a new ViewSelector instance to be rendered inside of an
   * element with the id "view-selector-container".
   */
  var viewSelector = new gapi.analytics.ViewSelector({
    container: 'view-selector-container'
  });

  // Render the view selector to the page.
  viewSelector.execute();

  /**
   * Create a new DataChart instance with the given query parameters
   * and Google chart options. It will be rendered inside an element
   * with the id "chart-container".
   */
  dataChart = new gapi.analytics.googleCharts.DataChart({
    query: {
      metrics: 'ga:totalEvents',
      dimensions: 'ga:eventaction',
      sort: '-ga:totalEvents',
      'start-date': '2017-01-01',
      'end-date': 'today',
      'max-results': '10',
      filters: 'ga:eventCategory==Search'
    },
    chart: {
      container: 'chart-container',
      type: 'COLUMN',
      options: {
        width: '90%',
        title: 'All Majors search results',
        height: 400,
        hAxis: {title: 'Search String', titleTextStyle: {fontSize: 17}},
        vAxis: {format: 'decimal'},
        legend : { position:"none"}
      }
    }
  });

  /**
   * Render the dataChart on the page whenever a new view is selected.
   */
  viewSelector.on('change', function(ids) {
    dataChart.set({query: {ids: ids}}).execute();
  });


/**************/

  /**
   * Create a new ViewSelector instance to be rendered inside of an
   * element with the id "view-selector-container".
   */
  var viewSelector2 = new gapi.analytics.ViewSelector({
    container: 'view-selector-container-2'
  });

  // Render the view selector to the page.
  viewSelector2.execute();

  /**
   * Create a new DataChart instance with the given query parameters
   * and Google chart options. It will be rendered inside an element
   * with the id "chart-container".
   */
  dataChart2 = new gapi.analytics.googleCharts.DataChart({
    query: {
      metrics: 'ga:totalEvents',
      dimensions: 'ga:eventaction',
      sort: '-ga:totalEvents',
      'start-date': '2017-01-01',
      'end-date': 'today',
      'max-results': '10',
      filters: 'ga:eventCategory==Click'
    },
    chart: {
      container: 'chart-container-2',
      type: 'COLUMN',
      options: {
        width: '90%',
        title: 'All Majors link clicks',
        height: 400,
        hAxis: {title: 'Link Name', titleTextStyle: {fontSize: 17}},
        legend : { position:"none"}
      }
    }
  });

  /**
   * Render the dataChart on the page whenever a new view is selected.
   */
  viewSelector2.on('change', function(ids) {
    dataChart2.set({query: {ids: ids}}).execute();
  });




});

function reDraw() {
  var newMajor=document.getElementById("majorName").options[document.getElementById("majorName").selectedIndex].text;
  if (newMajor!="All Majors")
  {
      var options1 = {
        query: {
          filters: 'ga:eventCategory==Search;ga:eventLabel==' + newMajor
        },
        chart: {
          options: {
            title: newMajor+' search results'
          }
        }
      };
      dataChart.set(options1).execute();
  }
  else
  {
          var options2 = {
        query: {
          filters: 'ga:eventCategory==Search'
        },
        chart: {
          options: {
            title: 'All Majors search results'
          }
        }
      };
      dataChart.set(options2).execute();
  }


  if (newMajor!="All Majors")
  {
      var options3 = {
        query: {
          filters: 'ga:eventCategory==Click;ga:eventLabel==' + newMajor
        },
        chart: {
          options: {
            title: newMajor+' link clicks'
          }
        }
      };
      dataChart2.set(options3).execute();
  }
  else
  {
          var options4 = {
        query: {
          filters: 'ga:eventCategory==Click'
        },
        chart: {
          options: {
            title: 'All Majors link clicks'
          }
        }
      };
      dataChart2.set(options4).execute();
  }
}

function reDraw2() {
	var startDateValue=document.getElementById("startDate").value;
	var options1 = {
		query: {
          filters: 'ga:eventCategory==Search'
        },
        chart: {
          options: {
            'start-date': startDateValue.toString()
          }
        }
      };
      dataChart.set(options1).execute();
}

</script>
