<br>
<div style="margin-left:5%; margin-right:5%;">
                Select by major: <select class="ui dropdown clear-school" id="majorName" onchange="reDraw()"><i class="dropdown icon"></i>
              <option value="All Majors" selected="selected">All Majors</option>
          <option value="computer science (bs)">computer science (bs)</option>
          <option value="African American Studies">African American Studies</option>
                </select>

</div>

<div id="embed-api-auth-container" style="margin-left:5%; margin-right:5%;"></div>
<div id="chart-container" style="margin-left:5%; margin-right:5%;"></div>
<div id="view-selector-container" style="margin-left:5%; margin-right:5%;"></div>

<script>
(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>

<script>

var dataChart;
var currentMajor="";

gapi.analytics.ready(function() {

  currentMajor=document.getElementById("majorName").options[document.getElementById("majorName").selectedIndex].text;

  /**
   * Authorize the user immediately if the user has already granted access.
   * If no access has been created, render an authorize button inside the
   * element with the ID "embed-api-auth-container".
   */
  gapi.analytics.auth.authorize({
    container: 'embed-api-auth-container',
    clientid: '608029080727-pus9sscp6qp2mqp2jv5rdapk4prtssmo.apps.googleusercontent.com'
  });

  /**
   * Create a new ViewSelector instance to be rendered inside of an
   * element with the id "view-selector-container".
   */
  var viewSelector = new gapi.analytics.ViewSelector({
    container: 'view-selector-container'
  });

  // Render the view selector to the page.
  viewSelector.execute();

  /**
   * Create a new DataChart instance with the given query parameters
   * and Google chart options. It will be rendered inside an element
   * with the id "chart-container".
   */
  dataChart = new gapi.analytics.googleCharts.DataChart({
    query: {
      metrics: 'ga:totalEvents',
      dimensions: 'ga:eventaction',
      sort: '-ga:totalEvents',
      'start-date': '6daysAgo',
      'end-date': 'today',
      'max-results': '10',
      filters: 'ga:eventCategory==Search'
    },
    chart: {
      container: 'chart-container',
      type: 'COLUMN',
      options: {
        width: '90%'
      }
    }
  });

  /**
   * Render the dataChart on the page whenever a new view is selected.
   */
  viewSelector.on('change', function(ids) {
    dataChart.set({query: {ids: ids}}).execute();
  });

});

function reDraw() {
  var newMajor=document.getElementById("majorName").options[document.getElementById("majorName").selectedIndex].text;
  if (newMajor!="All Majors")
  {
      var options = {
        query: {
          filters: 'ga:eventCategory==Search;ga:eventLabel==' + newMajor
        },
        chart: {
          options: {
            title: newMajor
          }
        }
      };
      dataChart.set(options).execute();
  }
  else
  {
          var options = {
        query: {
          filters: 'ga:eventCategory==Search'
        },
        chart: {
          options: {
            title: newMajor
          }
        }
      };
      dataChart.set(options).execute();
  }
}

</script>
